<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652246955746-jivubdehrl739fldvvlr4ge4acnl623j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652246955746-jivubdehrl739fldvvlr4ge4acnl623j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>652246955746-2lafr3ruqn2kcbdl4rqrr5217gdda1hf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQpSJUEnOu77hTk7-PMT8qYNOhktH7p9A</string>
	<key>GCM_SENDER_ID</key>
	<string>652246955746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vetMobileApp</string>
	<key>PROJECT_ID</key>
	<string>vetmobileapp-eeda0</string>
	<key>STORAGE_BUCKET</key>
	<string>vetmobileapp-eeda0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652246955746:ios:1e3d9dc25f92373b4210bb</string>
</dict>
</plist>